<div class="parent-container">
  <div class="example-boundary">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (dblclick)="onDoubleClick('aboutMe')">
      <img src="img/cv.png" alt="Imagen papelera" class="recycle-image" />
      <div class="text">About Me</div>
    </div>
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (dblclick)="onDoubleClick('projects')">
      <img src="img/aboutme.webp" alt="Imagen papelera" class="recycle-image" />
      <div class="text">Mis proyectos</div>
    </div>
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (dblclick)="onDoubleClick('mp3')">
      <img src="img/papelera.png" alt="Imagen papelera" class="recycle-image" />
      <div class="text">Papelera de reciclaje</div>
    </div>
  </div>
  @for(icon of icons ;track icon.window){
    @if(windows.projects === icon.window){
    <app-window [isShowWindows]=true (closeWIndows)="closeWindows(icon.window)" (minimizeWindows)="minimizeWindows($event)" [resizedWindows]= "resizedWindows"></app-window>
    }@else if (windows.aboutMe === icon.window) {
    <app-about-me [isShowWindows]=true (closeWIndows)="closeWindows(icon.window)" (minimizeWindows)="minimizeWindows($event)" [resizedWindows]= "resizedWindows"></app-about-me>
    }@else if (windows.mp3 === icon.window) {
      
      <app-mp3 [isShowWindows]=true></app-mp3>
    }
  }
<app-footer [icon]="icon" (residedWindows)="resizeWindows($event)"></app-footer>
</div>