.content-parent{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #bad3eb, #bfd5ec, #c3d8ed, #c8daed, #ccddee);
    border: 1px solid rgba(0, 0, 0, 0.658);
    box-shadow:
        inset 2px 2px 2px #d9d8d2, /* Efecto de luz */
        inset 2px 2px 0px #ffffff,  /* Efecto de luz */
        inset -2px -2px 0px #5be3f1; /* Efecto de sombra */
}
.header {
    display: flex;
    justify-content: space-between; /* Alinea texto a la izquierda y botones a la derecha */
    align-items: center; /* Centra verticalmente */
    background-image: linear-gradient(to left, #bad3eb, #bfd5ec, #c3d8ed, #c8daed, #ccddee);/* Light grey pixelation */
    box-shadow: inset 0px 0px 1px #444444;
    
   
}
.wordpad-img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    padding: 3px;
}
.save-img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    padding: 4px;
}


.b-minimize , .b-maximize{
    margin: 5px;
    color: white;
    cursor: pointer;
    border : 1px solid white;
    border-radius: 10%;
    background:repeating-linear-gradient(#bad3eb, #bad3eb91 30%, #e5f0fad7 50%, #e5f0fad7  100%);
}
.b-close {
    margin: 5px;
    cursor: pointer;
    color: white;
    border : 1px solid white;
    border-radius: 10%;
    background: repeating-linear-gradient(#e24141, #e74a4a 30%, #fd8686d7 50%, #fd8686d7  100%);
}
mat-icon {
    color: white;
    height: 22px;
    width: 22px;
}

.header-content-left{
    padding: 3px;
    display: flex;
    align-items: center;
}
.header-content-right{
    padding: 3px;
}
.icon-svg {
    width: 30px;
    height: 30px;
    stroke-width: 5;
    padding: 2px;
    fill:  #9e9e9e;
}
.rotate-60 {
    transform: rotate(60deg);
}
.rotate-120 {
    transform: rotate(-60deg);
}
.title {
    padding-left: 3px;
    font-size: 1.2em;
    align-items: center;
    /* margin-left: 3px;  */
}

.divider {
    border-left: ridge 3px #8b898942;
    height: 30px; 
    margin: 0 10px; 
}