@if (isVisible) {

<div class="content-parent" #contentParent cdkDragBoundary=".example-boundary" cdkDrag>
    <header class="header" #header>
        <div class="header-content-left">
            <img src="img/cv.png" alt="Imagen papelera" class="wordpad-img" />

            <span class="title">About me - WordPad</span>

        </div>
        <div class="header-content-rigth">
            <div class="buttons">                
                <button mat-icon-button class="b-minimize" (click)="minimize()">
                    <mat-icon>remove</mat-icon> <!-- Minimizar -->
                </button>
                <button mat-icon-button class="b-maximize pixel" (click)="maximize()">
                    <mat-icon>crop_square</mat-icon> <!-- Maximizar -->
                </button>
                <button mat-icon-button (click)="close()" class="b-close">
                    <mat-icon>close</mat-icon> <!-- Cerrar -->
                </button>
            </div>
        </div>
    </header>
    <div class="sub-header">
        <div class="sub-header-content">
            <p class="p-sub-header">A̲rchivo</p>
            <p class="p-sub-header">E̲ditar</p>
            <p class="p-sub-header">V̲er</p>
            <p class="p-sub-header">F̲avoritos</p>
            <p class="p-sub-header">H̲erramientas</p>
            <p class="p-sub-header">A̲yuda</p>
        </div>
    </div>
    <div class="controls">

        <div class="select-container" >
            <select class="select-box" (change)="onFontChange($event)">
                @for (item of  fontOptions; track item.value) {
                    <option  class="option-font" [value]="item.value">{{item.label}}</option>
                }
            </select>
            
        </div>
        <div class="select-container-size" >
            <select class="select-box-size" (change)="onFontSizeChange($event)">
                @for (item of  fontSizes; track item.value) {
                    <option  class="option-font" [value]="item.value">{{item.label}}</option>
                }
            </select>
            
        </div>
        <div class="select-container" >
            <select class="select-box" (change)="onEncodingChange($event)">
                @for (item of  encodings; track item.value) {
                    <option  class="option-font" [value]="item.value">{{item.label}}</option>
                }
            </select>
            
        </div>
        <mat-icon class="format-justify" (click)="alignText('center')">format_align_justify</mat-icon>
        <mat-icon class="format-left" (click)="alignText('left')">format_align_left</mat-icon>
        <mat-icon class="format-right" (click)="alignText('right')">format_align_right</mat-icon>
    </div>
    <div class="content-about-me" [ngClass]="{selectedEncoding}" [ngStyle]="{'font-family': selectedFont, 'font-size': selectedFontSize, 'text-align': selectedJustify}">
        <p>
            Hi there! I'm <strong>Carlos</strong>, a software developer based in <strong>Madrid</strong>.
            I have a passion for technology and I love learning new things. I'm always looking for new ways to improve
            my skills and learn new technologies.
            I have a passion for technology and I love learning new things. I'm always looking for new ways to improve
            my skills and learn new technologies.

     
        </p>
        <p>
            Me apasiona la tecnología y me encanta aprender cosas nuevas. Siempre estoy buscando nuevas formas de mejorar
            mis habilidades y aprender nuevas tecnologías.
        </p>

        <img src="img/saludo.gif" alt="Cargando..." />
        
    </div>

</div>
}